<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPortel</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>

    <center>
        <div class="topTitle">
            Agricultural Machinery Hire Request Form
        </div>

        <div class="linker">
            <a href="/form" class="btn-index">
                Hire Machinery 
        </a>
            <br>
            <br>
            <br>
            <a href="/login" class="btn-index">
            Admin Login
        </a>
        </div>

    </center>

</body>

</html>